form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
    margin-top: 20px;

    button {
        margin-top: 10px;
    }

    .mat-radio-button~.mat-radio-button {
        margin-left: 15px;
    }

    mat-radio-group,
    mat-slide-toggle {
        padding-bottom: 1.25em;
    }

}