<app-header>{{'UNI-dashboard' | translate}}</app-header>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <mat-card>
        <mat-card-title>{{'UNI-my-reservations' | translate}}</mat-card-title>
        <mat-card-content>
          Non voluptatem ut laudantium suscipit. Quis placeat excepturi consequatur
          veritatis delectus. Est eum non quis ut
          eos. Nihil totam quas eum neque dolore. Nisi nobis recusandae quis
          ut inventore modi ea nostrum.
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6">
      <mat-card>
        <mat-card-title>{{'UNI-alliances' | translate}}</mat-card-title>
        <mat-card-content>
          Non voluptatem ut laudantium suscipit. Quis placeat excepturi consequatur
          veritatis delectus. Est eum non quis ut
          eos. Nihil totam quas eum neque dolore. Nisi nobis recusandae quis
          ut inventore modi ea nostrum.
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6">
      <mat-card>
        <mat-card-title>Aliance</mat-card-title>
        <mat-card-content>
          Non voluptatem ut laudantium suscipit. Quis placeat excepturi consequatur
          veritatis delectus. Est eum non quis ut
          eos. Nihil totam quas eum neque dolore. Nisi nobis recusandae quis
          ut inventore modi ea nostrum.
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6">
      <mat-card>
        <mat-card-title>Aliance</mat-card-title>
        <mat-card-content>
          Non voluptatem ut laudantium suscipit. Quis placeat excepturi consequatur
          veritatis delectus. Est eum non quis ut
          eos. Nihil totam quas eum neque dolore. Nisi nobis recusandae quis
          ut inventore modi ea nostrum.
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>