@import "variables";

[mat-button],
[mat-raised-button],
[mat-flat-button],
[mat-stroked-button],
[mat-icon-button],
[mat-fab],
[mat-mini-fab] {
    text-transform: uppercase;
}

form {
    .input-note {
        color: mat-color($app-primary, 400);
        font-size: 11px;
        margin-left: 10px;
        position: relative;
        top: -10px;
    }
}