<div class="d-flex wrapper">
  <app-sidenav>
    <app-sidenav-item><a routerLink="/students" routerLinkActive="active">Home</a></app-sidenav-item>
    <app-sidenav-item><a routerLink="/students/profile" routerLinkActive="active">Profile settings</a>
    </app-sidenav-item>
    <app-sidenav-item><a routerLink="/students/reservations" routerLinkActive="active">Reservations</a>
    </app-sidenav-item>
    <app-sidenav-item><a routerLink="/students/aliances" routerLinkActive="active">Aliances</a></app-sidenav-item>
  </app-sidenav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>