<div class="d-flex wrapper">
  <app-sidenav>
    <app-sidenav-item><a routerLink="/students" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">{{'UNI-dashboard' | translate}} </a></app-sidenav-item>
    <app-sidenav-item><a routerLink="/students/profile"
        routerLinkActive="active">{{'UNI-profile_settings' | translate}}</a>
    </app-sidenav-item>
    <app-sidenav-item><a routerLink="/students/reservations"
        routerLinkActive="active">{{'UNI-reservations' | translate}}</a>
    </app-sidenav-item>
    <app-sidenav-item><a routerLink="/students/aliances" routerLinkActive="active">{{'UNI-alliances' | translate}}</a>
    </app-sidenav-item>
    <app-sidenav-item><a (click)="logout()">{{'UNI-logout' | translate}}</a></app-sidenav-item>
  </app-sidenav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>